src/federation-common/build/
src/federation-hub-broker/build/
src/federation-hub-policy/build/
src/federation-hub-ui/build/
src/takserver-common/build/
src/takserver-core/build/
src/takserver-core/takserver-war/build/
src/takserver-fig-core/build/
src/takserver-fig-core/rol/build/
src/takserver-plugin-manager/build/
src/takserver-plugins/build/
src/takserver-protobuf/build/
src/takserver-retention/build/
src/takserver-schemamanager/build/
src/takserver-schemamanager/CoreConfig.xml
src/takserver-takcl-core/build/
src/takserver-tool-ui/build/
src/takserver-tool-ui/node_modules/
src/takserver-tool-ui/.gradle/
src/takserver-usermanager/build/
src/takserver-core/scripts/certs/files/
src/takserver-core/example/logs/
src/.gradle/
src/.idea/
src/takserver-core/example/takserver_api.log
src/takserver-core/example/takserver_config.log
src/takserver-core/example/takserver_messaging.log
src/takserver-core/example/ignite/
src/takserver-core/example/work/
